export(academic_name)
export(gbif_match)
export(japanese_name_download)
export(japanese_name_info)
export(japanese_name_load)
export(japanese_name_search)
export(japanese_name_suggest)
export(scientific_name)
export(wfo_accepted_name)
export(wfo_suggest)
export(ylist_info)
export(ylist_download)
export(ylist_load)
export(ylist_search)
export(ylist_suggest)
S3method(print,japanese_name_info)
S3method(print,ylist_info)
